<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <br>
            <div>
                <img src="img/lamco_header.png" width="500" height="500">
                <div>
                    <h3 style="float: right; margin-top: -100px">PRODUCTION RECORD</h3>
                    <h4 style="float: right; margin-top: -60px; margin-right: 65px;">PR NO.</h4> <p style="float: right; margin-top: -60px; font-weight: bold; font-size: 16px">999999</p>
                    <p style="float: right; margin-top: -35px; margin-right: 65px;">DATE:</p> <p style="float: right; margin-top: -35px; margin-right: -2px;"> 99/99/99</p>
                    <p style="float: right; margin-top: -10px; margin-right: 95px;">PRODUCTION TYPE:</p> <p style="float: right; margin-top: -10px; margin-right: -230px;">XXXXXXXXXXX</p>
                </div>
            </div>

            <hr>
            
            <div>
                <h4>SO NO.</h4> <p style="margin-top: -30px; margin-left: 80px; font-size: 15px;">999999</p>
                <h4 style="margin-top: -30px; margin-left: 600px;">OWNER:</h4> <p style="margin-top: -30px; margin-left: 690px;  font-size: 15px;">XXXXXXXXXXXXXX</p>
            </div>
            
            <div>
                <h4>ROLL CODE:</h4> <p style="margin-top: -30px; margin-left: 130px;  font-size: 15px;">9999</p>
                 <h4 style="margin-top: -30px; margin-left: 600px;">SHELF LOCATION:</h4> <p style="margin-top: -30px; margin-left: 780px;  font-size: 15px;">X - 9</p>
            </div>
            
            <div>
                <h4>ROLL DESCRIPTION:</h4> <p style="margin-top: -30px; margin-left: 200px;  font-size: 15px;">XXXXXXXXXXXXXXXXXXX</p>
            </div>



            <div>

                <style type="text/css">
                    table.myTable { border-collapse:collapse; table-layout: fixed; width: 935px;}
                    th { border:1px solid black; }
                    td { border:1px solid black;  text-align: left; word-wrap: break-word; padding: 5px;}
                    .amount {text-align: right;}
                </style>
                <!-- Be sure to place the above styles (i.e. everything between the <style></style> tags) into the document 'head' (i.e. between the <head></head> tags. Everything below goes inside the <body></body> tags) -->
                <table class="myTable" style="margin-top: 30px; margin-bottom: 40px;" >
                    <tr>
                        <th width="100px">WEIGHT</th>
                        <th width="100px">DIMENSION</th>
                        <th width="150px">OUTPUT SIZE</th>
                        <th width="50px">UNIT</th>
                        <th width="80px">QUANTITY</th>
                        <th width="250px">PRODUCTION NOTES</th>
                    </tr>
                    <tr>
                        <td>ZZ,Z99 XXX</td>
                        <td>ZZZ9 x ZZZ9</td>
                        <td>ZZZ9 X ZZZ9</td>
                        <td>XXX</td>
                        <td>ZZZ9</td>
                        <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>ZZ,Z99 XXX</td>
                        <td>ZZZ9 x ZZZ9</td>
                        <td>ZZZ9 X ZZZ9</td>
                        <td>XXX</td>
                        <td>ZZZ9</td>
                        <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>ZZ,Z99 XXX</td>
                        <td>ZZZ9 x ZZZ9</td>
                        <td>ZZZ9 X ZZZ9</td>
                        <td>XXX</td>
                        <td>ZZZ9</td>
                        <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                    </tr>
                    
                    

                </table>
            </div>
            
            <div>
                <h5 style="margin-left: 480px">TOTAL QTY:</h5> <p style="margin-left: 570px; margin-top: -30px">ZZZZ9</p>
            </div>


            <div>
                <h4 style="margin-left: 80px; margin-top: 40px">CHECKER A:</h4>
            </div>
            
            <p style=" margin-left: 95px">XXXXXXXXXX</p>

            <div>
                <h4 style="margin-left: 390px; margin-top: -60px">CHECKER B:</h4> 
            </div>
            
            <p style=" margin-left: 415px">XXXXXXXXXX</p>
            
            <div>
                <h4 style="margin-left: 720px; margin-top: -60px">APPROVED BY:</h4> 
            </div>
            
            <p style=" margin-left: 745px">XXXXXXXXXX</p>
            
            <div>
                
                <table border="1" style="margin-top: 50px">
                    <tbody>
                        <tr>
                            <td width="500px">
                                <h4>ROLL UPDATES</h4>
                                <h5 style="margin-left: 60px">NEW WEIGHT:</h5> <p style="margin-left: 190px; margin-top: -30px">ZZ99 XXX</p>
                                <h5 style="margin-left: 60px">NEW DIMENSION:</h5> <p style="margin-left: 190px; margin-top: -30px">ZZZ9 X ZZZ9</p>
                            </td>
                            <td width="500px"><h4>PRODUCTION DETAILS</h4>
                                <h5 style="margin-left: 90px">MACHINE:</h5> <p style="margin-left: 180px; margin-top: -30px">XXXXXXXXXXX</p>
                                <h5 style="margin-left: 90px">OPERATOR:</h5> <p style="margin-left: 180px; margin-top: -30px">XXXXXXXXXXX</p>
                            
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            
        </div>
    </body>
</html>
