<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <br>
            <div>
                <center>
                <img src="img/lamco_header.png" width="500" height="500"></center>
                <div>
                    <p style="float: right; margin-top: -90px; margin-right: 5px;">Date Generated:</p> 
                    <p style="float: right; margin-top: -70px; margin-right: 70px;">99/99/99</p>
                    <p style="float: right; margin-top: -70px; margin-right: 5px;">99:99:99</p>
                </div>
            </div>

            <div>
                <h3 style="text-align: center">Annual Local Purchase Report</h3> 
            </div>

            <div>

                <style type="text/css">
                    table.myTable { border-collapse:collapse; table-layout: fixed; width: 935px;}
                    th { border:1px solid black; }
                    td { border-bottom: none; border-left: 1px solid black;  text-align: left; font-size: 9px; word-wrap: break-word; padding: 5px;}

                    .amount {text-align: right}
                </style>
                <!-- Be sure to place the above styles (i.e. everything between the <style></style> tags) into the document 'head' (i.e. between the <head></head> tags. Everything below goes inside the <body></body> tags) -->
                <table class="myTable" style="margin-top: 30px; margin-bottom: 40px;" >
                    <tr>
                        <th style="border-top: none; border-left: none; text-align: left" width="80px">Description</th>
                        <th style="border-top: none; text-align: right" width="70px">JAN</th>
                        <th style="border-top: none; text-align: right" width="70px">FEB</th>
                        <th style="border-top: none; text-align: right" width="70px">MAR</th>
                        <th style="border-top: none; text-align: right" width="70px">APR</th>
                        <th style="border-top: none; text-align: right" width="70px">MAY</th>
                        <th style="border-top: none; text-align: right" width="70px">JUN</th>
                        <th style="border-top: none; text-align: right" width="70px">JUL</th>
                        <th style="border-top: none; text-align: right" width="70px">AUG</th>
                        <th style="border-top: none; text-align: right" width="70px">SEP</th>
                        <th style="border-top: none; text-align: right" width="70px">OCT</th>
                        <th style="border-top: none; text-align: right" width="70px">NOV</th>
                        <th style="border-top: none; text-align: right; border-right: none" width="70px">DEC</th>
                    </tr>
                    <tr>
                        <td style="border-left: none">XXXXXXXXXXX</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                     <tr>
                        <td style="border-left: none">XXXXXXXXXXX</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                     <tr>
                        <td style="border-left: none">XXXXXXXXXXX</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    <tr>
                        <td style="border-left: none">XXXXXXXXXXX</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    <tr>
                        <td style="border-left: none">XXXXXXXXXXX</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    <tr>
                        <td style="border-left: none">XXXXXXXXXXX</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    
      
                    <tr>
                        <td style="border-left: none; border-bottom: 1px solid">XXXXXXXXXXX</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                    </tr>
                    

                </table>
            </div>
            
            <div>
                <p style="margin-top: -20px">Subtotal:</p> 
                <p style="margin-left: 80px; margin-top: -30px">ZZZ,ZZZ,ZZ9.99</p>
                <p style="margin-left: 225px; margin-top: -30px">ZZZ,ZZZ,ZZ9.99</p>
                <p style="margin-left: 375px; margin-top: -30px">ZZZ,ZZZ,ZZ9.99</p>
                <p style="margin-left: 520px; margin-top: -30px">ZZZ,ZZZ,ZZ9.99</p>
                <p style="margin-left: 665px; margin-top: -30px">ZZZ,ZZZ,ZZ9.99</p>
                <p style="margin-left: 810px; margin-top: -30px">ZZZ,ZZZ,ZZ9.99</p>
            </div>
            
            <div>
                <p style="margin-left: 150px">ZZZ,ZZZ,ZZ9.99</p>
                <p style="margin-left: 300px; margin-top: -30px">ZZZ,ZZZ,ZZ9.99</p>
                <p style="margin-left: 445px; margin-top: -30px">ZZZ,ZZZ,ZZ9.99</p>
                <p style="margin-left: 590px; margin-top: -30px">ZZZ,ZZZ,ZZ9.99</p>
                <p style="margin-left: 735px; margin-top: -30px">ZZZ,ZZZ,ZZ9.99</p>
                <p style="margin-left: 855px; margin-top: -30px">ZZZ,ZZZ,ZZ9.99</p>
            </div>
            
            <div>
                <p style="margin-left: 640px; font-weight: bold">Total Purchase Amount:</p> 
                <p style="margin-left: 835px; margin-top: -30px; font-weight: bold">Z,ZZZ,ZZZ,ZZ9.99</p>
            </div>
          
            <div>
                <p style="margin-top: 20px; float: right"> Page 9 of 9 </p>
            </div>
        </div>
    </body>
</html>
