<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <br>
            <div>
                <center>
                <img src="img/lamco_header.png" width="500" height="500"></center>
                <div>
                    <p style="float: right; margin-top: -90px; margin-right: 5px;">Date Generated:</p> 
                    <p style="float: right; margin-top: -70px; margin-right: 70px;">99/99/99</p>
                    <p style="float: right; margin-top: -70px; margin-right: 5px;">99:99:99</p>
                </div>
            </div>

            <div>
                <h3 style="text-align: center">Annual Sales Report</h3> 
            </div>

            <div>

                <style type="text/css">
                    table.myTable { border-collapse:collapse; table-layout: fixed; width: 935px;}
                    th { border:1px solid black; }
                    td { border-bottom: none; border-left: 1px solid black;  text-align: left; word-wrap: break-word; padding: 5px;}

                    .amount {text-align: right}
                </style>
                <!-- Be sure to place the above styles (i.e. everything between the <style></style> tags) into the document 'head' (i.e. between the <head></head> tags. Everything below goes inside the <body></body> tags) -->
                <table class="myTable" style="margin-top: 30px; margin-bottom: 40px;" >
                    <tr>
                        <th style="border-top: none; border-left: none; text-align: left" width="100px">Month</th>
                        <th style="border-top: none; text-align: left" width="70px">2009</th>
                        <th style="border-top: none; text-align: left" width="70px">2010</th>
                        <th style="border-top: none; text-align: left" width="70px">2011</th>
                        <th style="border-top: none; text-align: left" width="70px">2012</th>
                        <th style="border-top: none; text-align: left; border-right: none" width="70px">2013</th>
                    </tr>
                    <tr>
                        <td style="border-left: none">JAN</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    <tr>
                        <td style="border-left: none">FEB</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    <tr>
                        <td style="border-left: none">MAR</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    <tr>
                        <td style="border-left: none">MAR</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    <tr>
                        <td style="border-left: none">APR</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    <tr>
                        <td style="border-left: none">JUN</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    <tr>
                        <td style="border-left: none">JUL</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    <tr>
                        <td style="border-left: none">AUG</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    <tr>
                        <td style="border-left: none">SEP</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    <tr>
                        <td style="border-left: none">OCT</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                    <tr>
                        <td style="border-left: none">NOV</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                        <td>Z,ZZZ,ZZ9.99</td>
                    </tr>
                     
                    
      
                    <tr>
                        <td style="border-left: none; border-bottom: 1px solid">DEC</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                        <td style="border-bottom: 1px solid">Z,ZZZ,ZZ9.99</td>
                    </tr>
                    
                    <tr>
                        <td style="border-left: none; text-align: right; font-weight: bold">Total Sales:</td>
                        <td>ZZ,ZZZ,ZZ9.99</td>
                        <td>ZZ,ZZZ,ZZ9.99</td>
                        <td>ZZ,ZZZ,ZZ9.99</td>
                        <td>ZZ,ZZZ,ZZ9.99</td>
                        <td style="font-weight: bold">ZZ,ZZZ,ZZ9.99</td>
                    </tr>
                    
                     
                    

                </table>
            </div>
            
            
        </div>
    </body>
</html>
