<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <br>
            <div>
                 <img src="{{URL::asset("images/lamco_header.png")}}" width="500" height="500">
                <div>
                    <h3 style="float: right; margin-top: -100px">SALES ORDER FORM</h3>
                    <h4 style="float: right; margin-top: -60px; margin-right: 60px;">SO NO.</h4> <p style="float: right; margin-top: -60px; font-weight: bold; font-size: 16px; ">999999</p>
                    <p style="float: right; margin-top: -35px; margin-right: 65px;">DATE:</p> <p style="float: right; margin-top: -35px; margin-right: -2px;"> 99/99/99</p>
                    <p style="float: right; margin-top: -10px; margin-right: 65px;">TERMS:</p> <p style="float: right; margin-top: -10px; margin-right: -120px;"> 99/99/99</p>
                </div>
            </div>

            <hr>

            <div>
                <h4>CLIENT:</h4> <p style="margin-top: -30px; margin-left: 85px; font-size: 15px">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>            
            </div>
            <div>
                <h4>ADDRESS:</h4> <p style="margin-top: -30px; margin-left: 110px; font-size: 15px">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>

            </div>



            <div>

                <style type="text/css">
                    table.myTable { border-collapse:collapse; table-layout: fixed; width: 935px;}
                    th { border:1px solid black; }
                    td { border:1px solid black;  text-align: left; word-wrap: break-word; padding: 5px;}
                   
                    .amount {text-align: right}
                </style>
                <!-- Be sure to place the above styles (i.e. everything between the <style></style> tags) into the document 'head' (i.e. between the <head></head> tags. Everything below goes inside the <body></body> tags) -->
                <table class="myTable" style="margin-top: 30px; margin-bottom: 40px;" >
                    <tr>
                        <th width="380px">PRODUCT DESCRIPTION</th>
                        <th width="130px">DIMENSION</th>
                        <th width="100px">QUANTITY</th>
                        <th width="50px">UNIT</th>
                        <th width="100px">UNIT PRICE</th>
                        <th width="100px">AMOUNT</th>
                    </tr>
                    <tr>
                        <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxXXXXXX</td>
                        <td>ZZ9 X ZZ9</td>
                        <td>ZZZ9</td>
                        <td>XXX</td>
                        <td>Z9.99</td>
                        <td class="amount">ZZZ,Z99.99</td>
                    </tr>
                    <tr>
                        <td>XXXXXXXXXXXXXXXXXXXXXX</td>
                        <td>ZZ9 X ZZ9</td>
                        <td>ZZZ9</td>
                        <td>XXX</td>
                        <td>Z9.99</td>
                        <td class="amount">ZZZ,Z99.99</td>
                    </tr>
                    <tr>
                        <td>XXXXXXXXXXXXXXXXXXXXXX</td>
                        <td>ZZ9 X ZZ9</td>
                        <td>ZZZ9</td>
                        <td>XXX</td>
                        <td>Z9.99</td>
                        <td class="amount">ZZZ,Z99.99</td>
                    </tr>
                    
                   

                </table>
            </div>


            <div>
                <h4>Special Instructions:</h4>
                <h4 style="float: right; margin-top: -30px; margin-right: 100px;">Total:</h4> <p style="float: right; margin-top: -30px; margin-right: 10px;"><b>ZZZ,Z99.99</b></p>
            </div>

            <div>
                <input type="text" name="Special Instruction" value="" size="300" style="width: 450px; height: 100px;" />

            </div>


            <div>
                <h4 style="margin-left: 540px; margin-top: -80px">Prepared By:</h4> 
            </div>

            <div>
                <h4 style="margin-left: 780px; margin-top: -30px;">Approved By:</h4>
            </div>
            
            <p style=" margin-left: 795px">XXXXXXXXXX</p>
            
            <p style=" margin-left: 555px; margin-top: -30px">XXXXXXXXXX</p>


        </div>
    </body>
</html>
